* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 3em;
    
    font-family: Helvetica, sans-serif;
}

body > * {
    padding: 2em 0;
}

main > p {
    padding: 0.8em 0;

}

header {
    display: flex;
    border-bottom: 2px solid rgb(66, 66, 66);
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    color: rgb(0, 152, 0);
    text-decoration: none;
    padding: 0 1em;
}

.site-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

h1 {
    font-family: Georgia, serif;
    font-weight: 500;
}