* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

header, main, aside, footer {
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.4rem;
    color: #000;
    display: flex;
    border: solid 2px lightgray;
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.5);
}

header, footer {
    flex-basis: 100%;
}

header {
    min-height: 150px;
}

footer {
    min-height: 100px;
}

main {
    flex: 8 1 40rem;
}

aside {
    flex: 2 1 20rem;
}

main, aside {
    
    min-height: 400px;
}